@charset "utf-8";
/* CSS Document */
#div_intro{
	background-color: transparent;
	background-image: url(img/cool-background.jpg);
	background-attachment:fixed;
	height:100vh;
	vertical-align: middle;
	padding-top: 5%;
	padding-left: 10%;
}

.contents{
	height:100vh;
	align-items: center;
	padding-top: 5%;
}
#div_experience{
	background-color: dodgerblue
}
#div_project{
	background-image: url(img/project_background.jpg);
	background-attachment: fixed;
}
#div_contact{
	background-color: #3e7bcc;
	padding:2%;
	padding-top: 5%;
	padding-right: 10%;
}
.section_name{
	color: aliceblue;
	font-size: 300%;
	padding-bottom: 5%;
}

#fix{
	position: fixed;
}
p{
	text-align: left;
	font-size: 180%;
	color: aliceblue;
	padding:5%;
	padding-left: 7%
}
#img_profile{
	max-width: 50%;
}
.form-control{
	background:rgba(0,0,0,0);
}
.control-label{
	color:aliceblue;
}
#btn_send{
	min-height: 60px;
	min-width: 30%;
	font-size: 200%;
	margin-top: 3%
}
.div_navbar{
	position: fixed;
	width: 100vw;
	top: 0;
	z-index: 99
}
.div_first{
	margin-top: 20px
}
.img-example{
	padding:5%;
	vertical-align: middle;
	display: inline-block;
	height: 100%
}

.logo{
	width:40%;
}
h4{
	font-color:#fff;
}
.table-skill tr td{
	font-size: 200%;
	color:white;
	padding:3%;
}
